body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  background: #f8f5eb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

#question {
  font-size: 3.5rem;
  text-align: right;
  line-height: 1.5;
  margin-bottom: 20px;
}

.equation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  margin-left: 60px;
  /*margin-bottom: 60px;*/
}

.operator {
  margin-left: 0.5em;
  display: flex;
  align-items: center;
}

.numbers {
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 1.5;
}

#user-digits {
  font-family: "Source Code Pro", monospace;
  font-size: 3.5rem;
  letter-spacing: 0;
  margin-bottom: 8px;
  padding-top: 8px;             /* เว้นระยะให้เส้นไม่ติดตัวเลข */
  border-top: 3px solid #569dcd; /* <-- เส้นขั้น */
}

#user-digits span {
  display: inline-block;
  width: 1ch;
  text-align: center;
  /*order-bottom: 1px solid #ccc;*/
  border-bottom: 3px solid #569dcd;
  margin: 0 0 50px 1px;
}

#user-digits span.active {
  border-bottom: 3px solid #569dcd;
}

#user-digits span.correct {
  /*background-color: #569dcd;*/
  color: #569dcd;
  /*font-weight: bold;*/
}

#user-digits span.wrong {
  /*background-color: #c76b64;*/
  color: #c42f25;
  /*font-weight: bold;*/
}

#digit-pad {
  display: flex;
  flex-wrap: wrap;       /* ให้ปุ่มขึ้นบรรทัดใหม่ถ้าเต็ม */
  justify-content: center;
  gap: 15px;             /* <-- ระยะห่างระหว่างปุ่ม (แนวนอน+แนวตั้ง) */
  margin-bottom: 5px;   /* ระยะห่างจากส่วนอื่น */
}

#digit-pad button {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  margin: 1px;
  cursor: pointer;
  margin-bottom: 10px;
}

#controls button {
  font-size: 1.5rem;
  padding: 10px 10px;
  margin: 3px;
  cursor: pointer;
}

#score-display {
  font-size: 3rem;
  margin-bottom: 40px;
}

#restart-btn {
  font-size: 2rem;
  padding: 15px 40px;
  border: none;
  border-radius: 8px;
  background: #569dcd;
  color: white;
  cursor: pointer;
}
