
body {
	font-family: "Source Code Pro", monospace;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
  	padding: 0;
	background: #f8f8eb;
}
button {
	font-family: inherit;
}

/* top bar */
#top-bar {	
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 1000;
}

			#live-score {
				margin-left: 0.5rem;
				font-size: 1.4rem;
				color: #8b0000;  /* สีแดงเข้ม */
			}
			#timer {
				margin-right: 0.5rem;
				font-size: 1.4rem;
				color: #aab5cc;
			}
			#timer.warning {
				color: rgb(182, 27, 27);
			}


#activity-area {
	/* display: block; */
	/* background-color: #aab5cc; */
	width: 100vw;
}
	/* ---------- quiz-one ---------- */
		
		.numbers-box span {  /* สำหรับตัวเลขที่ไม่ใช่ปุ่มทั้งหมด เพื่อให้หลักตรงกัน */
			display: inline-block;
			vertical-align: middle;
			width: 0.9ch;	
			text-align: center;
			/* background-color: #56cdbd;
			border-right: 1px solid #149156; */
			margin-left: 0.1ch;
			transform: translateX(-0.1ch);			
		}		
		#user-input span {
			border-bottom: 1.2px solid #8f8e84f0;
			line-height: 3.5rem;
			height: 4rem;
			/* background-color: rgb(119, 189, 130); */
		}
		#user-input span.comma {
			border-bottom: none;			
		}
		#user-input span.hilighted {
			border-bottom: 3px solid #569dcd;
		}
		#user-input span.correct {
			color: #569dcd;
		}
		#user-input span.wrong {
			color: #c42f25;
		}

		.quiz {
			visibility: hidden;			
		}
		.question-box {
			display: inline-flex;
			position: absolute;
			flex-direction: row;
			/* background-color: #24417e; */
			height: 23vh;
			width: 100vw;
			justify-content: flex-end;
			align-items: center; 			
			font-size: 3.5rem;
			padding-top: 10vh;
			border-bottom: 3px solid #569dcd;
			/* transform: translateX(15vw); */
		}
				.numbers {
					display: flex;
					flex-direction: column;
					justify-content: center;
					text-align: right;
				}
				.operator {
					justify-content: center;						
					/* padding-left: 0.5rem; */
					/* padding-right: 10vw; */
					width: 20vw;
				}
				.hilighted {
					border-bottom: 3px solid #569dcd;
				}
		#user-input-area {
			/* background-color: #aab5cc; */
			visibility: hidden;	
			padding-top: 1rem;
			margin-top: 30vh;
		}
			#user-input {
				width: 80vw;
				/* transform: translateX(15vw); */
				/* background-color: #203d7c; */
				text-align: right;
				font-size: 3.5rem;
				margin-bottom: 10vh;
			}
			#upper-pad, #lower-pad, #control-pad {
				display: flex;
				/* background-color: #b72929; */
				gap: 3vw;
				justify-content: center;
				margin-bottom: 3vw;
			}
			#control-pad {
				margin-top: 3vh;
			}
			#upper-pad button, 
			#lower-pad button {
				width: 50px;
				height: 50px;
				font-size: 1.5rem;
			}
			#control-pad button {
				font-size: 1.5rem;
				padding: 10px 15px;
			}


/* quiz end display */
#app-ended-display {
	width: 100vw;
	visibility: hidden;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background-color: #c42f25; */
	align-items: center;	
}
		#final-score {
			text-align: center;
			margin-bottom: 50px;
			font-size: 3rem;
		}
		#restart-button {
			font-size: 2rem;
			padding: 0.3em 0.8em;			
		}
